{% render 'partials/head.liquid' %}



<details>
  <summary>Sort</summary>
  <a href="/sort/age">age</a>
</details>

<form for="Filtering">Filter</form>
<select onchange="location = this.value;">
  <option value="#">select</option>
  <option value="#">age</option>
  <option value="#">food</option>
  <option value="#">...</option>
  <option value="#">...</option>
</select>


<section class="container">
  <ul>
    {% for person in persons %}
    <li style="--begin-op:{{ "person.id" | slice: 3 }}"><a href="/detail/{{ person.id }}">"{{ person.name }}"</a>
    {% if person.bio %}
    <p>{{person.bio}}</p>
    {% else %}
    <p>N/A</p>
    </li>
  {% endif %}
{% endfor %}
  </ul>
</section>

{% render 'partials/foot.liquid', squads: squads %}